section {
    display: flex;
    height: 100vh;
    background-color:var(--branco-p)
}

.span-bannner {
    margin: auto;
}

.banner {

    width: 700px;
    height: 700px;
    margin: auto;
}


h1 {
    color: var(--preto-p);
    font-size: 40px;
    text-align: center;
}

img {
    cursor: pointer;
}

h1 {
    color: var(--preto-p);
    font-size: 40px;
    margin: 10px 0;
}
/* tirar repetição */
form { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--laranja-p);
    width: 400px;
    height: 100%;
    padding: 0 30px;
    margin-bottom: 1000px;
}

.texto-login {
    color: var(--preto-p);
    font-size: 20px;
    margin: 10px 0;
}

form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-bottom: 20px;
}

.span-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-bottom: 10px;
}

.span-remenber {
    display: flex;
    flex: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    width: 100%;
}

.span-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: var(--cinza-p);
    gap: 20px;
    
    a {
        text-decoration: none;
        cursor: pointer;
        color: var(--preto-p);
        transition: transform 0.2s;
        font-weight: bold;
    }

    a:hover {
        transition: transform 0.2s;
        transform: scale(1.1);
    }
}

label {
    font-size: 15px;
    color: var(--preto-p);
    font-weight: 500;
}
