<app-header-lumoapp></app-header-lumoapp>
<section class="home">
    <app-menu-lumoapp></app-menu-lumoapp>
    <div class="home__conteudo">
        <div>
            <div class="info-estudo">
                <h1>Bem-Vindo, {{nome}}! 👋</h1>
                <h3 class="info-estudo__data">{{data| date: "EEEE, dd 'de' MMMM 'de' yyyy"}}</h3>
                <label for="info-estudo__tempo" class="borda">Tempo de estudo do dia:</label>
                <p class="info-estudo__tempo">{{tempoDeEstudoFormatado}}</p>
            </div>
            <div class="info-dia">
                <label for="info-dia__date">Veja outros dias:</label>
                <app-input id="info-dia__date" type="date" [(ngModel)]="data" (change)="trocarDia()"></app-input>
            </div>
            <div class="info-mensagem">
                <blockquote>
                    📖 Pequenos hábitos geram grandes conquistas!<br />
                    Continue avançando — seu futuro eu vai te agradecer! 💡<br />
                </blockquote>
                <blockquote>
                    ⏳ A melhor hora para começar é agora! <br />
                    Uma pequena sessão já faz toda a diferença.<br />Vamos nessa? 🚀
                </blockquote>
            </div>
        </div>
        <div class="conteudo-atividades">
            <div>
                <h3 class="borda">Tarefas do dia</h3>
                <h4 class="conteudo-atividades__aviso" *ngIf="qtdeItensCronograma === 0">Não há tarefas.</h4>
                <app-card *ngFor="let item of itensCronograma" [item]="item"
                    (concluir)="concluirEstudo($event)"></app-card>
            </div>
            <app-nav [page]="page" (nextPageEvent)="proximaPagina($event)"
                (previousPageEvent)="voltarPagina($event)"></app-nav>
        </div>
        <div class="conteudo-atividades">
            <div>
                <h3 class="borda">Estudos realizados</h3>
                <h4 *ngIf="qtdeItensRegistroEstudo == 0" class="conteudo-atividades__aviso">Sem registros.</h4>
                <app-card-done [registrosEstudo]="registrosEstudo"></app-card-done>
            </div>
            <app-nav [type]="'rees'" [page]="pageRegistros" (nextPageEvent)="proximaPagina($event)"
                (previousPageEvent)="voltarPagina($event)"></app-nav>
        </div>
    </div>
</section>
<app-footer></app-footer>