

.home {
    display: flex;
    flex-direction: column;
    padding-bottom: 43px;
}

.home__conteudo {
    border: 1px solid var(--cinza-borda);
    width: 100%;
    padding: 1% 0;
    border-radius: 10px;
    justify-content: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 0;
    animation: fadeInTab 0.5s ease-in-out;
    background-color: rgb(255, 255, 255);
    
}

.info-estudo__data {
    color: var(--preto-p);
}

blockquote {
    font-style: italic;
    color: var(--cinza-p);
    border-left: 5px solid var(--laranja-p);
    margin: 10px 0;
    padding: 10px 5px;
    background: var(--branco-p);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.home__conteudo h1,h3 {
    color: var(--cinza-p);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    animation: fadeInTab 0.5s ease-in-out;
}

.conteudo-atividades div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.conteudo-atividades h2 {
    margin: 6px;
    text-align: center;
    align-items: center;
    color: var(--cinza-p);
}

.info-estudo__tempo {
    font-size: 45px;
    font-weight: bold;
    color: var(--preto-p);
    text-align: center;
    margin: 0;
    border-bottom: 1px solid var(--cinza-borda);
    border-width: auto;
    padding: 20px;
}

.borda {
    border-bottom: 1px solid var(--cinza-borda);
    width: auto;
    font-size: 20px;
}

.info-dia {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    padding: 10px 10px 0 10px;
}

.info-dia label {
    font-size: 20px;
}

.info-estudo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.conteudo-atividades__aviso {
    color: var(--cinza-p);
    margin: auto;
}

/* ================================================ */

@media (min-width: 1024px) {
    .home {
        display: flex;
        flex-direction: row;
       padding-bottom: 0;
    }
    
    .home__conteudo {
        border: 1px solid var(--cinza-borda);
        height: 600px;
        width: 82%;
        padding: 1%;
        border-radius: 10px;
        justify-content: space-between;
        gap: 10px;
        display: flex;
        flex-direction: row;
        margin: 10px 10px 0 10px;
        animation: fadeInTab 0.5s ease-in-out;
        background-color: rgb(255, 255, 255);
        
    }
    
    .info-estudo__data {
        color: var(--preto-p);
    }
    
    
    blockquote {
        font-style: italic;
        color: var(--cinza-p);
        border-left: 5px solid var(--laranja-p);
        margin: 10px 0;
        padding: 10px 5px;
        background: var(--branco-p);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    }
    
    .home__conteudo h1,h3 {
        color: var(--cinza-p);
    }
    
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        animation: fadeInTab 0.5s ease-in-out;
    }
    
    .conteudo-atividades {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
        width: 55vh;
        border-left: 1px solid var(--cinza-borda);
        padding-left: 10px;
    }
    .conteudo-atividades div{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .conteudo-atividades h2 {
        margin: 6px;
        text-align: center;
        align-items: center;
        color: var(--cinza-p);
    }
    
    
    .info-dia {
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 10px;
        padding: 10px 10px 0 10px;
    }
    
    .info-dia label {
        font-size: 20px;
    }
    
    .info-estudo {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }
    
    
    
    .info-estudo__tempo {
        font-size: 45px;
        font-weight: bold;
        color: var(--preto-p);
        text-align: center;
        margin: 0;
        border-bottom: 1px solid var(--cinza-borda);
        border-width: auto;
        padding: 20px;
    }
    
    img {
        margin: 0 5px;
    }
    
    
    .borda {
        border-bottom: 1px solid var(--cinza-borda);
        width: auto;
        font-size: 20px;
    }
    
    .conteudo-atividades__aviso {
        color: var(--cinza-p);
        margin: auto;
    }
}