#span-cronograma {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 60px;
}

#span-cronograma p {
    margin: 0;
}

#span-concluido {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding-left: 30px;
}


.concluido {
    color: var(--branco-p);
    background: linear-gradient(135deg, #00cf5d, #2d9235 );
    border: 1px solid var(--cinza-borda);
}

.atrasado {
    background: linear-gradient(135deg, #ff3d00, #bf360c);
    border: 1px solid var(--cinza-borda);
}

img {
    margin: 0 5px;
}

input {
    cursor: pointer;
}

li {
    animation: fadeInTab 0.5s ease-in-out;
    max-width: 100%;
}
