<footer>
        <span>
            <img [src]="logo" alt="Logo do Lumostudy" class="logo">
        </span>
        <div class="infos">
            <p class="version" ><strong >Lumostudy v0.1.242</strong>,  Desenvolvido por Bruno Forgiarini</p>
            <span>
                <img [src]="github" alt="Logo do Github" class="github">
            </span>
        </div>
        <div class="creditos">
            <span>
                <a href="https://storyset.com/online">Online illustrations by Storyset</a>
                <a href="https://storyset.com/people">People illustrations by Storyset</a>
                <a href="www.freepik.com">Designed by Freepik</a>
            </span>
        </div>
</footer>

