
@media (min-width: 1080px) {
    header {
        background-color: var(--laranja-p);
        color: var(--branco-p);
        padding: 1.5% 5%;
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        height: 355px;
    }
    
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }	
    
    h1 {
        margin-top: 3%;
        text-align: left;
        font-size: 50px;
        color: var(--preto-p);
    }
    
    .botoes {
        display: flex;
        flex-direction: row;
        align-items: center;
    
    }
    
    .banner {
        position: absolute;
        margin-top: 100px;
        margin-left: 60%;
        width: 318px;
        height: 369px;
        
    }
}

.ico {
    vertical-align: middle;
}

button {
    background: var(--laranja-p);
    border: none;
    padding: 10px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.05);
}