<section>
    <form [formGroup]="resetPasswordForm" class="authForm" (ngSubmit)="resetarSenha()">
        <h2>Redefinição de Senha</h2>
        <label for="password">Insira a nova senha</label>
        <app-input id="password" [placeholder]="'Senha'" type="password" formControlName="password"></app-input>
        <label for="password">Confirme a nova senha</label>
        <app-input id="password" [placeholder]="'Senha'" type="password" formControlName="confirmPassword"></app-input>
        <app-button texto="Trocar senha" type="submit"></app-button>
    </form>
</section>
<app-footer></app-footer>
