section {
    display: flex;
    flex-direction: row;
    padding-bottom: 42px;
}

.container-profile {
    border: 1px solid var(--cinza-borda);
    width: 80%;
    height: 635px;
    padding: 0.1% 2%;
    border-radius: 10px;
    margin: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
    animation: fadeInTab 0.5s ease-in-out;
    background-color: white;

}

.conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.conteudo-dados{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 40px;
}

.conteudo-dados a {
    color: var(--azul-principal);
    text-decoration: none;
    cursor: pointer;
}

.conteudo-dados label{
    font-family: 'Montserrat', sans-serif;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid var(--cinza-borda);
}

.seguranca {
    margin-top: auto;
}

.container-conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 600px;
}

.infos {
    gap: 20px;

}

.infos h2 {
    margin: 10px;
}

.foto-usuario {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 6px solid var(--borda-foto);
    margin: 0 10px 0 0;
}

.conteudo-foto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.conteudo-seguranca {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.seguranca a {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.conteudo-dados a {
    cursor: pointer;
    text-align: center  ;
    transition:  transform 0.2s;
    background-color: var(--cinza-borda);
    padding: 2px;
    border-radius: 5px;
}

.conteudo-dados a:hover {
    transform: scale(1.05);
}

.dados-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.button-div {
    width: 100%;
}

.dados-item img {
    width: 20px;
    height: 20px;
    transition: transform 0.2s;
}

.dados-item img:hover {
    cursor: pointer;
    transform: scale(1.07);
}

.editar-form {
    position: fixed;
    padding: 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid var(--cinza-borda);
    filter: blur(50%);
    animation: fadeIn 0.5s ease-in-out;
}

.editar-form div {
    margin: auto
}

.editar-form h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--cinza-borda);
}

.editar-form a {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-left: auto;
}

.aviso {
    font-weight: bold;
    color: var(--vermelho-p);
}

.bt-excluir {
    color: var(--vermelho-p);
    background-color: transparent;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.2s;
    border: 1px solid var(--vermelho-p);
    border-radius: 5px;
    padding: 5px;
}

.bt-excluir:hover {
    transform: scale(1.06);
}