section {
    display: flex;
    flex-direction: row;
}

.container-profile {
    border: 1px solid var(--cinza-borda);
    width: 80%;
    height: 400px;
    padding: 2%;
    border-radius: 10px;
    margin: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
    animation: fadeInTab 0.5s ease-in-out;
    background-color: white;

}

.conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.conteudo-dados{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 25px;
}

.conteudo-dados label{
    font-family: 'Montserrat', sans-serif;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid var(--cinza-borda);
}

.container-conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.infos {
    gap: 20px;

}

.foto-usuario {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 6px solid var(--borda-foto);
    margin: 0 10px 0 0;
}

.conteudo-foto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.seguranca {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-seguranca {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.seguranca a {
    color: red;
    text-decoration: none;
    cursor: pointer;
    margin-top: auto;
}
