<app-header-lumoapp></app-header-lumoapp>
<section>
    <app-menu-lumoapp></app-menu-lumoapp>
    <div class="container-profile">
        <div class="cabecalho">
            <h2>Meu Perfil</h2>
            <p>Membro desde dd/MM/yyyyy</p>
        </div>
        <div class="container-conteudo">
            <div class="infos">
                <h2>{{usuario?.getNome()}}</h2>
                <div class="conteudo">
                    <span class="conteudo-foto">
                        <img [src]="fotoUrl" alt="Foto do usuário" class="foto-usuario">
                        <label for="input">Alterar foto de Perfil</label>
                        <input id="input" type="file" (change)="selecionarImagem($event)"  accept="image/*">
                        <app-button texto="Enviar" (click)="uploadFoto()"></app-button>
                    </span>
                    <span class="conteudo-dados">
                        <label for="username">Nome de usuário</label>
                        <span class="dados-item">
                            <h3 id="username">{{usuario?.getUsername()}}</h3>
                            <img [src]="edit" alt="Icone de Edição" (click)="abrirEdicao('username')">
                        </span>
                        <label for="email">Email</label>
                        <span class="dados-item">  
                           <h3 id="email">{{usuario?.getEmail()}}</h3>
                           <img [src]="edit" alt="Icone de Edição" (click)="abrirEdicao('email')"> 
                        </span>

                        <label for="pontuacao">Pontuação</label>
                        <h3 id="pontuacao">0</h3>
                        <a>Alterar senha</a> 
                    </span>
                </div>
            </div>
            <div class="seguranca">
                <a>Excluir conta</a>
            </div>
        </div>
    </div>
    <div class="overlay" *ngIf="isEditando">
        <form action="" class="editar-form">
            <a (click)="isEditando = false">x</a>
            <h2>{{updateLabel}}</h2>
            <label for="value">Insira o valor novo</label>
            <app-input id="value" [type]="'text'"></app-input>
            <!-- <app-input id="senha" [type]="'password'" *ngIf="isSenha"></app-input> -->
        </form>
    </div>
</section>