<app-header-lumoapp></app-header-lumoapp>
<section>
    <app-menu-lumoapp></app-menu-lumoapp>
    <div class="container-profile">
        <div class="cabecalho">
            <h2>Meu Perfil</h2>
            <p>Membro desde dd/MM/yyyyy</p>
        </div>
        <div class="container-conteudo">
            <div class="infos">
                <h2>Dados do usuário</h2>
                <div class="conteudo">
                    <span>
                        <h3>Nome</h3>
                        <h3>Email</h3>
                        <h3>Pontuação</h3>
                    </span>
                </div>
            </div>
            <div class="seguranca">
                <h2>Segurança</h2>
                <div class="conteudo">
                    <span>
                        <h3>Alterar Senha</h3>
                        <h3>Alterar Email</h3>
                        <h3>Gerenciar conta</h3>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>