section {
    display: flex;
    flex-direction: row;
}

.conteudo-conteiner {
    background-color: white;
    height: 700px;
    width: 82%;
    margin: 10px 10px 0 10px; /* Adicione margin-top */
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
    padding: 1%;
    border: solid 1px var(--cinza-borda);
    border-radius: 10px;
    animation: fadeInTab 0.5s ease-in-out;
}

.conteudo-principal {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--cinza-borda);
    border-top: 1px solid var(--cinza-borda);
    height: 500px;
    width: 100%;
    gap: 20px;
    
} 

.conteudo-acoes {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin: 0 1%;
}

.conteudo-semanal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: auto;
    animation: fadeInTab 0.5s ease-in-out;
}

.conteudo-semanal-item {
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.conteudo-semanal-item h3 {
    margin: 0 ;
    font-size: 18px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    padding: 0;

}

.titulo {
    margin-right: auto;
    border-right: 1px solid var(--cinza-borda);
}

.bt-semana {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    gap: 10px;
    justify-content: space-between;
    justify-items: space-between;
}

li {
    list-style-type: none;
    background: linear-gradient(135deg, #ffeb3b, #ffc107);
    box-shadow: var(--box-shadow);
    border-radius: 8px;   
    padding: 4%;
    font-weight: bold;
    font-size: 14px;
    height: 50px;
    margin-top: 5px;
    width: 200px;
    transition: transform 0.4s;
    align-items: center;
    cursor: pointer;
}

.bt-ver-todos {
    background-color: var(--cinza-sec);
    color: var(--cinza-p);
    border: none;
    border-radius: 8px;
    padding: 2%;
    font-weight: bold;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s;
}

.bt-ver-todos:hover {
    transition: transform 0.2s;
    transform: scale(1.1);
}

.concluido {
    color: var(--branco-p);
    background: linear-gradient(135deg, #00cf5d, #2d9235 );
    border: 1px solid var(--cinza-borda);
}

.atrasado {
    color: var(--branco-p);
    background: linear-gradient(135deg, #ff3d00, #bf360c);
    border: 1px solid var(--cinza-borda);
}

.emdia {
    background: linear-gradient(135deg, #ffeb3b, #ffc107);
    color: var(--preto-p);
}

li:hover {
    transition: transform 0.4s;
    transform: scale(1.02);
}

h3 {
    text-align: center;
    margin-left: 20px;
    min-width: 190px;
    border-bottom: 1px solid var(--cinza-borda);
    padding-bottom: 2px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px); 
    z-index: 1; 
}

form {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 1.1%;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    gap: 3px;
    transform: translate(-50%, -50%);
    background-color: white;
    
    filter: blur(50%);
    animation: fadeIn 0.5s ease-in-out;
}

.span-form-title {
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.span-item-title-edit {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;
    align-items: left;
}
.span-item-title-edit p {
   margin: 0;
}

.span-form-checkbox {
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 5px;
    padding: 2px 0;
}

.span-form-title button {
    font-weight: 700;
}

button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    margin-left: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    transition: transform 0.2s;
    transform: scale(1.1);
}

.item-detalhes {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 1%;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 130px;
    transform: translate(-50%, -50%);
    font-weight: bold;
    filter: blur(50%);
    animation: fadeIn 0.5s ease-in-out;
}


.item-detalhes p {
    margin: 3px 0;
}

.itens-detalhes-dia {
    position: fixed;
    top: 50%;
    padding: 1%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: var(--branco-p);
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 500px;
}

.span-acao-item {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    flex-direction: row;
}

.span-acao-item p{
    font-weight: 400;
}

.acao-item {
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.2s;
    border: none;
    font-size: 14px;
}

.acao-item img {
    width: 20px;
    height: 20px;
    vertical-align: center ;
}

.acao-item:hover {
    transition: transform 0.2s;
    transform: scale(1.1);
}

.img {
    width: 10%;
    margin: auto;
}

.adicionar-cronograma {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 10px;
}

.adicionar-cronograma p {
    font-size: 20px;
}

.itens-topo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.span-item-title {
    display: flex;
    
}

.span-item-title img {
    vertical-align: center;
}

.span-item-title h2 {
    margin: 0;
    font-size: 14px;
}

.conteudo-semanal-item p {
    margin: 1px 0 0 0;
    font-size: 13px;
    font-weight: 500;
}