<app-header-lumoapp></app-header-lumoapp>
<section>
    <app-menu-lumoapp></app-menu-lumoapp>
    <div class="conteudo-conteiner">
        <div class="conteudo-acoes">
                <span class="titulo">
                    <h2>Organize seus estudos</h2>
                    <h4>Adicione os conteúdos que você deseja estudar ao seu cronograma semanal. Os estudos do dia estarão disponíveis
                        na sessão Estudar.</h4>
                </span>
                <span class="adicionar-cronograma">
                    <p>Adicione novos itens ao seu cronograma!</p>
                    <app-button id="btAdd" texto="Adicionar" (click)="adicionarAoCronograma()"></app-button>
                </span>
                <img [src]="cronogramImg" alt="Imagem de um calendário" class="img">
        </div>
        <div class="conteudo-principal">
            <div class="conteudo-semanal" *ngFor=" let dia of semana">
                <span class="conteudo-semanal-item">
                    <h3>{{dia | date: 'EE, dd/MM/yyyy'}}</h3>
                    <ul>
                        <li *ngFor="let item of getItensPorDia(dia) | slice:0:5" (click)="visualizarItem(item)" [ngClass]="{'li concluido': item.concluido, 'li atrasado': verificaItemCronogramaAtrasado(item) == true}">
                            <span class="span-item-title">
                                <img [src]="item.concluido !== true ? materiaIcon : materiaIconConcluido" alt="Ícone da Matéria"
                                *ngIf="verificaItemCronogramaAtrasado(item) == false">
                                <img [src]="materiaIconConcluido" alt="Ícone da Matéria"
                                *ngIf="verificaItemCronogramaAtrasado(item) == true">
                                <h2>
                                    {{ getMateriaCard(item.conteudo) }}
                                </h2>
                            </span>
                            <p>
                                {{ getConteudoCard(item.conteudo) }}
                            </p>

                        </li>
                    </ul>
                    <button class="bt-ver-todos" *ngIf="getItensPorDia(dia).length >= 5" (click)="exibirTodosItensDoDia(dia)">Ver todos itens</button>
                </span>
            </div>
        </div>
        <div class="bt-semana">
                <app-button texto="Semana Anterior" (click)="semanaAnterior()"></app-button>
                <app-button texto="Semana Atual" (click)="ngOnInit()"></app-button>
                <app-button texto="Próxima Semana"(click)="proximaSemana()"></app-button>
        </div>
    <div class="overlay" *ngIf="isAdicionarAtivo || isVisualizarItemAtivo || isEditarItem || isVerTodosItens">
        <div *ngIf="isVerTodosItens" class="itens-detalhes-dia">
            <span class="span-form-title">
                <h2>
                    Estudos do Dia
                </h2>
                <button (click)="isVerTodosItens = false" type="button">x</button>
            </span>
            <app-card *ngFor="let item of itensCronogramaDia" [item]="item"
                        (concluir)="concluirEstudo($event)"></app-card>
        </div>
        <form [formGroup]="cronogramaForm" (ngSubmit)="cadastrarAoCronograma()" *ngIf="isAdicionarAtivo">
            <span class="span-form-title">
                <h2>Adicionar ao Cronograma</h2>
                <button (click)="adicionarAoCronograma()" type="button" *ngIf="isAdicionarAtivo">x</button>
            </span>
            <label for="materia">Matéria</label>
            <app-input  id="materia" [placeholder]="'Selecione a Matéria'" [type]="'choose'" [options]="materias" formControlName="materiaCod" (change)="alterarConteudoPorMateria()"></app-input>
            <label for="conteudo" *ngIf="!isNovoConteudo">Conteúdo</label>
            <app-input id="conteudo" [placeholder]="'Selecione o Conteúdo'" [type]="'choose'" [options]="conteudo" formControlName="conteudo" *ngIf="!isNovoConteudo"></app-input>
            <label for="novoConteudo" *ngIf="isNovoConteudo">Digite o conteúdo</label>
            <app-input id="novoConteudo" [placeholder]="'Insira o conteúdo'" [type]="'text'" formControlName="conteudoNovo" *ngIf="isNovoConteudo"></app-input>
            <span class="span-form-checkbox">
                <label for="checkbox">Inserir outro conteúdo</label>
                <input id="checkbox" type="checkbox" (change)="exibirNovoConteudo()" formControlName="isNovoConteudo">
            </span>
            <label for="data">Data</label>
            <app-input id="data" [placeholder]="'Data'" [type]="'date'" formControlName="data"></app-input>
            <label for="descricao">Descrição</label>
            <app-input id="descricao" [placeholder]="'Descrição'" [type]="'text'" formControlName="descricao"></app-input>
            <span class="span-form-checkbox">
                <label for="checkbox">Continuar adicionando</label>
                <input id="checkbox" type="checkbox" (change)="continuarAdicionando()">
            </span>
            <app-button texto="Adicionar" type="submit"></app-button>
        </form>
        <div *ngIf="isVisualizarItemAtivo" [ngClass]="{
            'item-detalhes': true,
            'concluido': switchClassCronograma(itemSelecionado!) == 'concluido',
            'atrasado': switchClassCronograma(itemSelecionado!) == 'atrasado',
            'emdia' : switchClassCronograma(itemSelecionado!) == 'emdia'
          }">
            <span class="span-item-title">
                <h2>Visualizando: {{itemSelecionado?.conteudo}}</h2>
                <button (click)="fecharItem()" type="button" *ngIf="isVisualizarItemAtivo">x</button>
            </span>
            <p>{{itemSelecionado?.descricao === "" ? "Sem Descrição" : itemSelecionado?.descricao }}

            </p>

            <span class="span-acao-item">
                <span>
                    <p *ngIf="switchClassCronograma(itemSelecionado!) == 'atrasado'">Item atrasado</p>
                    <p *ngIf="switchClassCronograma(itemSelecionado!) == 'emdia'">Pendente</p>
                    <p  *ngIf="switchClassCronograma(itemSelecionado!) == 'concluido'">Item Concluído</p>
                </span>
                <span>
                    <button class="acao-item"> 
                        <img [src]="editWhite" alt="Icone para Edição" (click)="editarItemSelecionado()">
                    </button>
                    <button class="acao-item">
                        <img [src]="itemSelecionado?.concluido === true ? concluidoIconWhite : removerConcluidoIconWhite"
                        (click)="concluirEstudo(itemSelecionado!)" alt="Concluir Estudo">
                    </button>
                    <button class="acao-item">
                        <img [src]="x" alt="Excluir" (click)="excluirDoCronograma()"
                        *ngIf="verificaItemCronogramaAtrasado(itemSelecionado!) == false" alt="Excluir">
                        <img [src]="xWhite" alt="Icone para Edição" (click)="excluirDoCronograma()"
                        *ngIf="verificaItemCronogramaAtrasado(itemSelecionado!) == true" alt="Excluir">
                    </button>
                </span>
            </span>
        </div>
        <form [formGroup]="cronogramaForm" *ngIf="isEditarItem" @fadeInOut>
            <span class="span-form-title">
                <h2>Editar Item</h2>
                <button (click)="isEditarItem = false" type="button">x</button>
            </span>
            <span class="span-item-title-edit">
                <p>Matéria: <strong>{{getMateriaCard(itemSelecionado!.conteudo)}}</strong></p>
                <p>Conteúdo: <strong>{{getConteudoCard(itemSelecionado!.conteudo)}}</strong></p>
            </span>
            <label for="materia">Alterar Matéria</label>
            <app-input  id="materia" [placeholder]="'Selecione a Matéria'" [type]="'choose'" [options]="materias" formControlName="materiaCod" (change)="alterarConteudoPorMateria()"></app-input>
            <label for="conteudo" *ngIf="!isNovoConteudo">Alterar Conteúdo</label>
            <app-input id="conteudo" [placeholder]="'Selecione o Conteúdo'" [type]="'choose'" [options]="conteudo" formControlName="conteudo" *ngIf="!isNovoConteudo"></app-input>
            <label for="novoConteudo" *ngIf="isNovoConteudo">Digite o conteúdo</label>
            <app-input id="novoConteudo" [placeholder]="'Insira o conteúdo'" [type]="'text'" formControlName="conteudoNovo" *ngIf="isNovoConteudo"></app-input>
            <span>
                <label for="checkbox">Inserir outro conteúdo</label>
                <input id="checkbox" type="checkbox" (change)="exibirNovoConteudo()" formControlName="isNovoConteudo">
            </span>
            <label for="data">Data</label>
            <app-input id="data" [placeholder]="'Data'" [type]="'date'" formControlName="data"></app-input>
            <label for="descricao">Descrição</label>
            <app-input id="descricao" [placeholder]="'Descrição'" [type]="'text'" formControlName="descricao"></app-input>
            <app-button texto="Salvar" type="submit" (click)="editarItemCronograma()"></app-button>
        </form>
    </div>
</div>
</section>
