section {
    display: flex;
    height: 100vh;
    background-color:var(--branco-p)
}


h1 {
    color: var(--preto-p);
    font-size: 40px;
}

form { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--laranja-p);
    width: 400px;
    height: 100%;
    padding: 0 30px;
    margin-bottom: 1000px;
}

.banner {

    width: 700px;
    height: 700px;
    margin: auto;
}



.span-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-bottom: 10px;
}


a {
    text-decoration: none;
    color: var(--preto-p);
    transition: transform 0.2s;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}

.botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 140px;
}

a:hover {
    transition: transform 0.2s;
    transform: scale(1.1);
}
