section {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    height: 100vh;
    border-right: 1px solid var(--cinza-borda);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
div {
    display: flex;
    flex-direction: column;
    width: 30vh;

}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: left;
    align-items: baseline;
    padding: 0;
    margin: 0;
    
}

li {
    padding: 20px;
    text-align: center; 
    list-style-type: none;
    cursor: pointer;
    transition: transform 0.2s;
}

img {
    margin: 0 20px;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: var(--cinza-p);
    text-decoration: none;
    margin-bottom: 100px;


}

li:hover {
    transition: transform 0.2s;
    transform: scale(1.05);
}

.pagAtivoBt {
    font-weight: 500;
    color: var(--laranja-p);
    text-align: center;

}