section {

}
div {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    height: 100%;
    border-right: 1px solid var(--cinza-borda);
    border-bottom: 1px solid var(--cinza-borda);
    border-radius: 0 0 10px 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 30vh;

}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: left;
    align-items: baseline;
    padding: 0;
    margin-top: 10px;
    
}

li {
    padding: 10px 0;
    text-align: center; 
    list-style-type: none;
    cursor: pointer;
    transition: transform 0.2s;
}

img {
    margin: 0 10px;
    vertical-align: middle;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: var(--cinza-p);
    text-decoration: none;
    margin: 0;

}

li:hover {
    transition: transform 0.2s;
    transform: scale(1.05);
}

.pagAtivoBt {
    font-weight: 500;
    align-items: center;
}