<div>
    <ul>
        <li routerLinkActive="pagAtivo">
            <a routerLink="/app/home" routerLinkActive="pagAtivoBt">
                <img [src]="getIconeAtivo('/app/home', inicio, inicioAtivo)" alt="Icone de Início">Início
            </a>
        </li>
        <li routerLinkActive="pagAtivo">
            <a routerLink="/app/estudar" routerLinkActive="pagAtivoBt">
                <img [src]="getIconeAtivo('/app/estudar', estudar, estudarAtivo)" alt="Icone de Estudar">Estudar
            </a>
        </li>
        <li routerLinkActive="pagAtivo">
            <a routerLink="/app/materias" routerLinkActive="pagAtivoBt">
                <img [src]="getIconeAtivo('/app/materias', materia, materiaAtivo)" alt="Icone de Matérias">Matérias
            </a>
        </li>
        <li routerLinkActive="pagAtivo">
            <a routerLink="/app/cronograma" routerLinkActive="pagAtivoBt">
                <img [src]="getIconeAtivo('/app/cronograma', cronograma, cronomgramaAtivo)" alt="Icone do Cronograma">Cronograma
            </a>
        </li>
        <li routerLinkActive="pagAtivo">
            <a routerLink="/app/historico" routerLinkActive="pagAtivoBt">
                <img [src]="getIconeAtivo('/app/historico', historico, inicioAtivo)" alt="Icone do Histórico">Histórico
            </a>
        </li>
    </ul>
</div>