
    <div>
        <ul>
            <li routerLinkActive="pagAtivo">
                <a routerLink="/app/home" routerLinkActive="pagAtivoBt">
                    <img [src]="getIconeAtivo('/app/home', inicio, inicioAtivo)" alt="Icone de Início"><span class="menu-text">Início</span>
                </a>
            </li>
            <li routerLinkActive="pagAtivo">
                <a routerLink="/app/estudar" routerLinkActive="pagAtivoBt">
                    <img [src]="getIconeAtivo('/app/estudar', estudar, estudarAtivo)" alt="Icone de Estudar"><span class="menu-text">Estudar</span>
                </a>
            </li>
            <li routerLinkActive="pagAtivo">
                <a routerLink="/app/materias" routerLinkActive="pagAtivoBt">
                    <img [src]="getIconeAtivo('/app/materias', materia, materiaAtivo)" alt="Icone de Matérias"><span class="menu-text">Matérias</span>
                </a>
            </li>
            <li routerLinkActive="pagAtivo">
                <a routerLink="/app/cronograma" routerLinkActive="pagAtivoBt">
                    <img [src]="getIconeAtivo('/app/cronograma', cronograma, cronomgramaAtivo)" alt="Icone do Cronograma"><span class="menu-text">Cronograma</span>
                </a>
            </li>
            <li routerLinkActive="pagAtivo">
                <a routerLink="/app/historico" routerLinkActive="pagAtivoBt">
                    <img [src]="getIconeAtivo('/app/historico', historico, historicoAtivo)" alt="Icone do Histórico"><span class="menu-text">Histórico</span>
                </a>
            </li>
        </ul>
    </div>

