section {
    display: flex;
    flex-direction: row;
    padding-bottom: 43px;
}
.conteudo-principal {
    border: 1px solid var(--cinza-borda);
    width: 80%;
    height: 600px;
    padding: 1%;
    margin-left: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    animation: fadeInTab 0.5s ease-in-out;
    margin: 10px 10px 0 10px;
}


.formulario-cadastro {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 0 10px;
    border-right: 1px solid var(--cinza-borda);
    height: 100%;
}


.registros {
    text-align: center;
}




.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    
    
}

.conteudo-formulario {
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content: center;
    gap: 20px;
    animation: fadeInTab 0.5s ease-in-out;
}

.div-checkbox {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

    label {
        margin-right: auto;
    }
}

.bt-acoes-materias {
    background-color: white;
    border: none;
    margin-right: 5px;
    transition: transform 0.2s; 
    cursor: pointer;
}

.bt-acoes-materias:hover {
    transition: transform 0.2s;
    transform: scale(1.06);
}

.bt-editar-conteudo {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 12px;
}

.bt-excluir {
    background-color: red;
    color: red;
}

.editar-materia {
    position: fixed;
    padding: 2%;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid var(--cinza-borda);
    filter: blur(50%);
    animation: fadeIn 0.5s ease-in-out;

    h2 {
        border-bottom: 1px solid var(--cinza-borda);
    }

    button {
        background-color: white;
        border: none;
        font-size: 20px;
        margin-left: auto;
        margin-top: 0;
        cursor: pointer;
        transition: transform 0.2s;
    }

    button:hover {
        transition: transform 0.2s;
        transform: scale(1.1);
    }

}   

.formulario a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: transform 0.2s;
    margin-bottom: auto;
}

.formulario a:hover {
    transition: transform 0.2s;
    transform: scale(1.04);
}


.formulario h2 {
    margin: 0;
    text-align: center;
}

.excluir {
    color: red;
}

#pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: auto;
}

.formulario-add-texto {
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 10px;
    width: 80%;
}

#bt-nav {
background-color: white;
border: none;
font-size: 20px;
font-weight: bold;
cursor: pointer;
transition: transform 0.2s;
}

#bt-nav:hover {
    transition: transform 0.2s;
    transform: scale(1.1);
}

.conteudo-tabela {
    display: flex;
    flex-direction: column;
    
}

.ilustracao {
    width: 240px;
    height: 240px;
    margin: auto;
}

.conteudo-principal-info {
    margin-top: 10px;
    text-align: left;
    font-size: 18px;
}

table {
    margin-top: 0;
}