<app-header></app-header>
<section>
    <h1>Bem-vindo ao Lumostudy</h1>
    <div class="div-f-principal texto">
        <span>
            <h2>Estude mais e com eficiência</h2>
            <p>
                O Lumostudy é o seu aliado na jornada de aprendizado! Organize suas matérias, planeje sessões de estudo
                personalizadas com a técnica Pomodoro e monitore seu progresso. <br>
                Com ferramentas poderosas de organização, métricas detalhadas e gráficos, você estará sempre pronto para dar
                o próximo passo em direção ao sucesso nos estudos.
            </p>
        </span>
        <img [src]="im2" alt="Foto de estudante em cima de livros" class="home-img im">
    </div>
    <div class="div-s-principal">
        <img [src]="home01" alt="Foto de estudante em cima de livros" class="home-img im2">
        <span>
            <h2>Por que escolher o Lumostudy?</h2>
            <p>
                O Lumostudy foi criado para ajudar você a estudar de forma mais inteligente. Registre matérias, monte
                cronogramas semanais e visualize o histórico de estudos com detalhes. <br>
                Acompanhe seu tempo total de estudos, veja quantas sessões você completou e planeje seus próximos passos com
                clareza e praticidade.
            </p>
        </span>
    </div>
    <div class="div-f-principal lista">
        <h2>Recursos que transformam seu aprendizado</h2>
        <ul>
            <li>🎯 <strong>Sessões Pomodoro</strong> personalizáveis para maximizar a concentração.</li>
            <li>📅 <strong>Cronogramas semanais</strong> que se integram à sua rotina.</li>
            <li>🕒 <strong>Histórico completo</strong> do tempo total de estudo e número de sessões.</li>
        </ul>
    </div>
</section>
<app-footer></app-footer>