<app-header></app-header>
<section>
    <h1>Bem-vindo ao seu novo aplicativo de Estudos</h1>
    <div class="div-f-principal">
        <span>
            <h2>Estude mais e melhor</h2>
            <p>Com o Lumostudy você recebe dicas para estudar enquanto registra seu progresso
                de<br> estudos e evolua com as ferramentas de organização e sessões de estudo.<br>
                Analise seus estudos através das métricas e gráficos disponíveis, planeje seus estudos e <br>
                se prepara para as provas com o Lumostudy.
            </p>
        </span>
        <img [src]="home01" alt="Foto de estudante em cima de livros" class="home-img">
    </div>
    <div class="div-s-principal">
        <img [src]="home01" alt="Foto de estudante em cima de livros" class="home-img">
        <span >
            <h2>O que é o Lumostudy</h2>
            <p>Com o Lumostudy você recebe dicas para estudar enquanto registra seu progresso
                de<br> estudos e evolua com as ferramentas de organização e sessões de estudo.<br>
                Analise seus estudos através das métricas e gráficos disponíveis, planeje seus estudos e <br>
                se prepara para as provas com o Lumostudy.
            </p>
        </span>
    </div>
    <div>

    </div>
</section>
