

section {
    display: flex;
    flex-direction: column;
    padding: 1.5% 5%;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
}

.div-f-principal {
    display: flex;
    padding: 0 1.5%;	
    border-radius: 2px;
    border-width: 0px 0px 0px 6px; 
    border-style: solid;
    border-color: var(--laranja-p);
    
}

.div-f-principal h2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--preto-p);
}

.div-s-principal h2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--preto-p);
}

.im2 {

}

.texto {
    flex-direction: row;
    color: var(--preto-p);
}

.lista {
flex-direction: column;
align-items: center;
margin-top: 100px;
border-style: none;
}

strong {
    font-weight: 900;

}

.div-s-principal {
    display: flex;
    flex-direction: row;
    padding: 0 1.5%;	
    margin-top: 100px;
    border-width: 0px 6px 0px 0px; 
    border-style: solid;
    border-color: var(--laranja-p);
    text-align: left;
    border-radius: 2px;

}

h1 {
    padding-bottom: 1%;
    font-size: 52px;
    font-weight: bold;
    color: var(--preto-p);
}

h2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--preto-p);
}

p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.home-img {
    margin-left: 120px;
    width: 20%;
}

.im {
    margin-left: 120px;

}

.im2 {
    margin-right: 120px;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background: var(--degrade-p);
    border-radius: 10px;
    justify-content: left;
    align-items: baseline;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    text-align: center; 
    list-style-type: none;
    transition: transform 0.2s;
    font-size: 20px;
    
}

.como-funciona {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.como-funciona p {
    font-size: 18px;
    margin: 5px 0;
    margin-bottom: 50px;
}

.passo {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}