input {
    min-width: 300px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid var(--cinza-borda);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

input:focus {
    outline: none;
}

select {
    padding: 12px 20px;
    margin: 8px 0;
    min-width: 300px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid var(--cinza-borda);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: white;
    padding-right: 30px; 
    cursor: pointer;
    transition: transform 0.2s;
}

select:hover {
    transition: transform 0.2s;
    transform: scale(1.02); 
}

select:focus {
    outline: none;

}

select:hover {
    background-color: white; 
}

