<app-header-lumoapp></app-header-lumoapp>
<section>
    <app-menu-lumoapp></app-menu-lumoapp>
    <div class="conteudo-principal">
        <div class="infos">
            <h2>Seu Histórico de Estudos</h2>
            <p>Veja suas sessões de estudos realizadas. Você pode achar mais informações dentro do seu Perfil.</p>
            <p>Você pode Editar ou Excluir um registro selecionando na tabela abaixo.</p>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Matéria</th>
                    <th>Conteúdo</th>
                    <th>Tempo de Estudo</th>
                    <th>Descrição</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let registro of registros" (click)="abrirEdicaoRegistroEstudo(registro)">
                    <td>{{registro.data}}</td>
                    <td>{{registro.nomeMateria}}</td>
                    <td>{{registro.conteudo}}</td>
                    <td>{{registro.tempo}}</td>
                    <td>{{registro.descricao}}</td>
                    <td>
                        <button type="button" (click)="excluirRegistroDeEstudo(registro, $event)"><img [src]="x"></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <span class="span-bt">
            <button type="button" (click)="voltarPagina()" class="btNav"><</button>
            <p>{{page}}</p>
            <button type="button" (click)="proximaPagina()" class="btNav">></button>
        </span>
    </div>
    <div class="overlay" *ngIf="isEditarOpen">
        
        <form [formGroup]="reesForm" (ngSubmit)="editarRegistroDeEstudos()">
            <button type="button" (click)="fecharEdicaoRegistroEstudo()">x</button>
            <h2>Editar Registro de Estudo</h2>
            <hr>
            <label for="materia">Matéria*</label>
            <app-input id="materia" [placeholder]="'Selecione a Matéria'" [type]="'choose'" [options]="materias" formControlName="codMateria" (change)="alterarConteudoPorMateria()"></app-input>
            <label for="conteudo" *ngIf="!isNovoConteudo">Conteúdo*</label>
            <app-input *ngIf="!isNovoConteudo" id="conteudo" [placeholder]="'Selecione o Conteúdo'" [type]="'choose'" [options]="conteudo" formControlName="conteudo"></app-input>
            <label for="conteudo-tf" *ngIf="isNovoConteudo">Novo Conteúdo*</label>
            <app-input id="conteudo-tf" [placeholder]="'Insira o novo conteúdo'" [type]="'text'" formControlName="conteudoTexto" *ngIf="isNovoConteudo"></app-input>
            <div class="div-checkbox">
                <label for="checkbox" >Novo conteúdo</label>
                <input id="checkbox" type="checkbox" (change)="novoConteudo()" formControlName="isNovoConteudo">
            </div>
            <label for="descricao">Observações (opcional)</label>
            <app-input id="descricao" [placeholder]="''" [type]="'text'" formControlName="descricao" ></app-input>
            <span class="finalizar">
                <app-button texto="Finalizar" type="submit"></app-button>
            </span>
        </form>
    </div>
</section>
