section {
    display: flex;
    flex-direction: row;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1%;
    margin: 0 1%;
    border: solid 1px var(--cinza-borda);
    border-radius: 10px;
    background-color: white;
    animation: fadeInTab 0.5s ease-in-out;
    margin: 10px 10px 0 10px;
    height: 760px;
    
}

.span-form-title {
    display: flex;
    justify-content: space-between;
    align-items: left;
}
.span-form-title button {
    font-weight: 700;
}

.detalhes-registro {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1.1%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
}

.estatisticas-line {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.span-estatisticas-line {
    display: flex;
    align-items: center;
    gap: 10px;
}

.span-estatisticas-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.span-estatisticas {
    display: flex;
    flex-direction: row;
}

.span-estatisticas h2 {
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.estatisticas-modal {
    min-width: 400px;
}

.span-estatisticas h2:hover {
    color: var(--laranja-p);
}

.span-item-title-edit {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;
    align-items: left;
}
.span-item-title-edit p {
   margin: 0;
}

.img {
    width: 12%;
    margin: auto;
}

.span-estatisticas h2 {
    margin-right: 5%;
}

.estatisticas {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    border-left: solid 1px var(--cinza-borda);
    padding: 0 2%; 
}

.estatisticas p {
    font-size: 20px;
}

.span-titulo {
    margin: 0;
}

.span-titulo p {
    font-size: 20px;
}

.infos {
    display: flex;
    flex-direction: row;
    height: 140px;
}

table tr {
    transition: background-color 0.5s;
}



table tr:hover {
    cursor: pointer;
    background-color: var(--laranja-p);
    transition: background-color 0.5s;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px); 
    z-index: 1; 
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: left;
    position: fixed;
    padding: 2%;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid var(--cinza-borda);
    filter: blur(50%);
    animation: fadeIn 0.5s ease-in-out;

    h2 {
        border-bottom: 1px solid var(--cinza-borda);
    }

}

.btNav {
    background-color: transparent;
    transition: transform 0.2s;
    margin: 0;

}

button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    margin-left: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.destaque {
    color: var(--preto-p);
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
    border-radius:  10px;
}

button:hover, .btNav:hover {
    transition: transform 0.2s;
    transform: scale(1.1);
}

