@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=M+PLUS+Rounded+1c:wght@400;800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --laranja-p: #f9f1b4;
    --preto-p: #131313;
    --branco-p: #f7f7f7;
    --cinza-sec: #F6F6F6;
    --cinza-p: #828282;
    --desativado: #BDBDBD;
    --cinza-borda: #E0E0E0;
    --box-shadow: 0 0 8px rgb(255, 193, 23, 0.3);
    --verde-p: #28a745;
    --laranja-s: #ffecaf;
    --vermelho-p: #dc3545;
    --borda-foto: #bdbdbd;
    /* --ativo: #ffc107; */
    --ativo: #ffef76;
    --degrade-p: linear-gradient(135deg, #f9f1b4, #f8ffbd );
    --degrade-concluido: linear-gradient(135deg, #00cf5d, #2d9235 );
    --degrade-card: linear-gradient(135deg, #ffed47, #ffd363);
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FBF4F4;
}

.toast-top-right {
    top: 12px;
    right: 12px;
    position: fixed;
    z-index: 9999;
}

.toast-success, .toast-error, .toast-info, .toast-warning {
    width: 300px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
}

.toast-success {
    background-color: #28a745 !important;
    color: white !important;
}

.toast-error {
    background-color: #dc3545 !important;
    color: white !important;
}

.toast-info {
    background-color: #17a2b8 !important;
    color: white !important;
}

.toast-warning {
    background-color: #ffc107 !important;
    color: black !important;
}

small {
    color: var(--vermelho-p);
    display: block;
    margin-top: 3px;
    font-weight: bold;
  }

.pagAtivo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 98%;
    background: var(--degrade-p);
    border-left: 6px solid var(--ativo);
    animation: abaSelecionada 0.2s ease-in-out;;
}

.pagAtivo a {
    margin: 0;
    padding: 0;
}

.aba-opcoes {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    margin-top: 10px;
    border-bottom: 1px solid var(--cinza-borda);
    text-decoration: none;
    a {
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        color: var(--cinza-p);
        cursor: pointer;
        transition: transform 0.2s;
    }

    a:hover {
        transition: transform 0.2s;
        transform: scale(1.03);
    }
}

.aba-selecionada {
    border-bottom: 4px solid var(--ativo);
    border-radius: 2px;
    color: var(--laranja-p);
    animation: abaSelecionada 0.2s ease-in-out;

}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px;
    background: var(--degrade-card);
    border-radius: 8px;
    max-height: 60px;
    transition: transform 0.2s;

}

.card:hover {
   transform: scale(1.03);
}

@keyframes abaSelecionada {

    from {
        opacity: 0;
        transform: translateX(-1%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -60%); 
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%); 
    }
}

@keyframes fadeInTab {
    from {
        opacity: 0;
        transform: translateY(-10px); 
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}

table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid var(--cinza-borda);
    animation: fadeInTab 0.5s ease-in-out;
    transition: transform 0.2s;
    border-radius: 10px;
    
}


table th {
    background-color: var(--cinza-sec);
    color: var(--cinza-p);
    padding: 1.5%;
    text-align: left;

    
}

table td {
    padding: 0.8%;
    border-bottom: 1px solid var(--cinza-borda);
    max-width: fit-content;
    text-align: left;
    animation: fadeInTab 0.5s ease-in-out;
    
}

.span-bt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    gap: 5px;
    margin-top: auto;
    
    button {
        background-color: transparent;
        border: none;
        transition: transform 0.2s;
        cursor: pointer;
        padding: 0;
    }

    button:hover {
        transition: transform 0.2s;
        transform: scale(1.1);
    }
}

.authForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px solid #FFF;
    background: var(--laranja-p);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 400px;
    height: 450px;
    padding: 2%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px); 
    z-index: 1; 
}
